*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #aaa;
}
.contitle{
	background-color: #001540;
	color: white;
	position: absolute;
	top: 0;
	width: 100%;
	height: 7%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat_text{
	background-color: #aaa;
	position: absolute;
	top: 7%;
	width: 100%;
	height: 85%;
	overflow: scroll;
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
}

.chat_text::-webkit-scrollbar{
	display: none;
}
.chat_text_box{
	display: flex;
	position: absolute;
	top: 92%;
	background-color: gold;
	width: 100%;
	height: 8%;
	overflow: hidden;
}
.textbox{
	border: none;
	outline: none;
	background-color: #ddd;
	color: black;
	padding: 10px;
	width: 80%;
	margin: 0;
}
.sendbtn{
	-webkit-appearance: none;
	border: none;
	outline: none;
	background-color: navy;
	width: 20%;
	padding: 10px;
	margin: 0;
	color: white;
}
.usertext{
	background-color: blue;
	padding: 10px;
	margin: 5px;
	color: white;
	margin-right: 15px;
	text-align: right;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(2em);
}

.bottext{
	background-color: white;
	padding: 10px;
	margin: 5px;
	margin-left: 15px;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(2em);
}
.dot3{
	display: flex;
}
.usertextdiv{
	display: flex;
	justify-content: flex-end;
}
.bottextdiv{
	display: flex;
	justify-content: flex-start;
}
.fdot,.sdot,.tdot{
	transform: translateY(0);
	font-weight: bold;
}
.fdot{
	animation: dotrun 1s infinite .1s;
}
.sdot{
	animation: dotrun 1s infinite .25s;
}
.tdot{
	animation: dotrun 1s infinite .4s;
}
@keyframes dotrun{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-4px);
	}
	100%{
		transform: translateY(0);
	}
}
@keyframes popuptext{
	from{
		opacity: 0;
		visibility: hidden;
		transform: translateY(2em);
	}
	to{
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}
}
@media screen and (max-width: 400px){
	.chat_text{
		top: 10%;
		height: 80%;
	}
	.chat_text_box{
		top: 90%;
		height: 10%;
	}
	.contitle{
		height: 10%;
	}
}