*{
	padding: 0;
	margin: 0;
}
body{

}
.contitle{
	background-color: red;
	color: white;
	position: absolute;
	top: 0;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat_text{
	background-color: #333;
	position: absolute;
	top: 10%;
	width: 100%;
	height: 82%;
	overflow: scroll;
}

.chat_text::-webkit-scrollbar{
	display: none;
}
.chat_text_box{
	display: flex;
	position: absolute;
	top: 92%;
	background-color: gold;
	width: 100%;
	height: 8%;
}
.textbox{
	border: none;
	outline: none;
	background-color: #ddd;
	color: black;
	padding: 10px;
	width: 80%;
	margin: 0;
}
.sendbtn{
	-webkit-appearance: none;
	border: none;
	outline: none;
	background-color: navy;
	width: 20%;
	padding: 10px;
	margin: 0;
	color: white;
}
.usertext{
	background-color: blue;
	padding: 10px;
	margin: 5px;
	margin-right: 15px;
	text-align: right;
	border-radius: 15px;
}

.bottext{
	background-color: #ddd;
	padding: 10px;
	margin: 5px;
	margin-left: 15px;
	border-radius: 15px;
}
.dot3{
	display: flex;
}
.usertextdiv{
	display: flex;
	justify-content: flex-end;
}
.bottextdiv{
	display: flex;
	justify-content: flex-start;
}
.fdot,.sdot,.tdot{
	transform: translateY(0);
}
.fdot{
	animation: dotrun 1s infinite .1s;
}
.sdot{
	animation: dotrun 1s infinite .25s;
}
.tdot{
	animation: dotrun 1s infinite .4s;
}
@keyframes dotrun{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-4px);
	}
	100%{
		transform: translateY(0);
	}
}