.thisbox{
	display: flex;
	justify-content: center;
	transition: .5s;
	overflow: hidden;
}
.container{
	height : 300px;
	width : 400px;
	display: flex;
	overflow: hidden;
	background-color: #092c3e;
	border-radius: 15px;
}
.container .tabbtn{
	display: flex;
	flex-direction: column;
	width : 30%;
	height : 100%;
	position: sticky;
	left:0;
	top:0;
}
.container .tabbtn button{
	height : 25%;
	width: 100%;
	background-color: #C9C9C9;
	border : none;
	outline: none;
	font-size : 14px;
	letter-spacing: 3px;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	cursor: pointer;

}
/*.container .tabbtn button:nth-child(1){
	border-radius: 15px 0 0 0;
}
.container .tabbtn button:nth-child(4){
	border-radius: 0 0 0 15px;
	}*/

.container .tabbtn button:hover{
	background-color: gray;
}
.container .tabcontentbox{
	background-color: gray;
	height : 200%;
	/*overflow : none;*/
	/*border-radius: 0 15px 15px 0;*/
	transition: .7s;
	box-shadow: inset 0 0 17px #333;

}
.tabno{
	width: 0%;
}
.tabtoggle{
	width : 100%;
}
#closebtn{
	width : 70px;
	height : 30px;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0 2px 5px #333;
}
.container .tabcontentbox .tabcontent{
	padding-top : 10px;
	padding-left : 5px;
	opacity: 0;
	transition: .8s;
}
