.videoposter{
	width: 170px;
	height: 225px;
	margin: 5px;
}

.container{
	display: flex;
	flex-wrap: wrap;
justify-content : center;
align-items: center;
}
.links{
	margin : 10px;
	text-decoration: none;
	color : white;
	background-color: black;
	padding : 15px;
	border-radius: 15px;
}
.container a{
	text-decoration: none;
	color : white;
}
